<form action="/tweets" method="POST">
  <label>Welcome <%= @tweet.user.username %></label><br>
  <input type="textarea" name="content" id="tweet" value="Type Your Tweet Here!"><br>
  <input type="submit" value="submit">



</form>
