<form action="/tweets" method="POST">
  <h2>Welcome <%= @user.username %></h2><br>
  <label>Type your Tweet Here: </label>
  <input type="textarea" name="content" id="tweet" value="Type Your Tweet Here!" required><br>
  <input type="submit" value="submit">
</form>
