<form action="/tweets/<%= @tweet.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Content: </label><br>
  <input type="textarea" name="content" id="content" value="<%= @tweet.content %>"><br>
  <input type="submit" id="submit" value="Edit Tweet">
</form>
