<form action="/signup" method="POST">
  <label>Username: </label>
  <input type="text" name="username" id="username" required><br>
  <label>Email: </label>
  <input type="text" name="email" id="email" required><br>
  <label>Password: </label>
  <input type="text" name="password" id="password" required><br>
  <input type="text" name="user[username]" id="username" required><br>
  <label>Email: </label>
  <input type="text" name="user[email]" id="email" required><br>
  <label>Password: </label>
  <input type="password" name="user[password]" id="password" required><br>
  <br>
  <input type="submit" value="Sign Up"><br>
  <a href="/">Fwitter Homepage</a>
</form>
