<form action="/login" method="POST">
  <label>Username: </label>
  <input type="text" name="username" id="username" required><br>
  <label>Password: </label>
  <input type="text" name="password" id="password" required><br>
  <br>
  <input type="submit" value="Log In"><br>
  <a href="/">Fwitter Homepage</a>
</form>
